body {
    background-image: url("images/table2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#dealerCard1 {
    height: 100px;
    width: 75px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    position: fixed;
    top: 0;
    margin-left: 600px;
}
#dealerCard2 {
    height: 100px;
    width: 75px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    position: fixed;
    top: 0;
    margin-left: 680px;
}
#dealerCard3 {
    height: 100px;
    width: 75px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    position: fixed;
    top: 0;
    margin-left: 760px;
}
#dealerCard4 {
    height: 100px;
    width: 75px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    position: fixed;
    top: 0;
    margin-left: 840px;
}
#dealerCard5 {
    height: 100px;
    width: 75px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    position: fixed;
    top: 0;
    margin-left: 920px;
}
#playerCard1 {
    height: 100px;
    width: 75px;
    margin: 0 auto;
    margin-top: 50px;
    /*border: 1px solid black;*/
    position: fixed;
    bottom: 0;
    margin-left: 600px;
    background-image: 100%;
}
#playerCard2 {
    height: 100px;
    width: 75px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    position: fixed;
    bottom: 0;
    margin-left: 680px;
}
#playerCard3 {
    height: 100px;
    width: 75px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    position: fixed;
    bottom: 0;
    margin-left: 760px;
}
#playerCard4 {
    height: 100px;
    width: 75px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    position: fixed;
    bottom: 0;
    margin-left: 840px;
}
#playerCard5 {
    height: 100px;
    width: 75px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    position: fixed;
    bottom: 0;
    margin-left: 920px;
}
#deckOfCards {
    height: 100px;
    width: 75px;
    margin: 0 auto;
    margin-top: 200px;
    background-image: url("images/frontcard.jpg");
    background-size: 100%;
}

}
#hit {
    margin: 0 auto;
    margin-top: 200px;
}
#myCard {
    height: 100px;
    width: 75px;
}
.card {}
